
main{
    max-width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 45%;
    height: 700px;
    background-image: url("../assets/images/Rectangle26.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.right{
    width: 40%;
    height: 700px;
    background-color: antiquewhite;
}
.right > .plane{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */


}
.right > .plane > img{
   position: relative;
   right: -21rem;
   top: 3rem;  

}
.welcome{
    width: 100%;
    height: 100px;
    /* background-color: cadetblue; */
    text-align: center;
    margin-top: -3rem;
}
.welcome > h1{
    font-size: 3rem;
    letter-spacing: 0.2cm;
}
.welcome > p{
    margin-top: -2rem;
}
.form{
    height: 150px;
    /* background-color: beige; */
    position: relative;
    margin-top: 0.5rem; 
}
.email{
    width: 50%;
    height: 30px;
    position: relative;
    right: -22%;
    font-size: 12px;
}
.password{
    width: 50%;
    height: 30px;
    position: relative;
    right: -22%;
    margin-top: 1rem;
    font-size: 12px;
}
.form > p{
    font-size: 12px;
    position: relative;
    right: -20rem;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}
.login > p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: aqua;
    
}
.or{
    /* background-color:aliceblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.or > .line1{
    width: 100px;
    height: 1px;
    background-color: black;
    position: relative;
    right: -10rem;
}
.or > .line2{
    width: 100px;
    height: 1px;
    background-color: black;
    position: relative;
    left: -10rem;
}
.tri{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}